.table-container {
    width: 100%;
    overflow-x: auto;

    .table-actions {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;
    }
    
  }
  
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background-color: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background-color: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
    padding: 8px;
  }
  
  .example-expanded-row {
    &.mat-row {
      border-top: 1px solid #e0e0e0;
    }
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
  }
  
  .example-element-detail p,
  .example-element-detail ul {
    margin: 4px 0;
  }
  
  .example-element-detail ul {
    padding-left: 16px;
  }
  
  .mat-header-cell,
  .mat-cell {
    text-align: center;
    padding: 8px;
  }
  
  .mat-cell .mat-icon-button {
    margin: 0 4px;
  }
  
  .mat-paginator {
    margin-top: 16px;
  }