<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div class="table-container"  *ngIf="!isLoadingResults">
    <div class="table-actions">
        <button mat-raised-button color="primary" (click)="openHeroForm()">
          Añadir Héroe
        </button>
      </div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

        <!-- Generación dinámica de columnas usando filteredColumns -->
        <ng-container *ngFor="let column of filteredColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>

        <!-- Columna de acciones -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editHero(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openDeleteConfirmation($event, element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Columna de expansión -->
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row"
                    (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()">
                    <mat-icon>{{ expandedElement === element ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Columna de detalles expandibles -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="example-element-detail"
                    [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                    <p><strong>Género:</strong> {{ element.gender }}</p>
                    <p><strong>Poderes:</strong> {{ element.powerNames?.join(', ') }}</p>
                    <p><strong>Equipos:</strong> {{ element.teamNames?.join(', ') }}</p>
                    <p><strong>Habilidades Únicas:</strong></p>
                    <ul>
                        <li *ngFor="let ability of element.uniqueAbilities">
                            <strong>{{ ability.abilityName }}:</strong> {{ ability.description }}
                        </li>
                    </ul>
                </div>
            </td>
        </ng-container>

        <!-- Fila de encabezado -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>

        <!-- Fila de datos -->
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>

        <!-- Fila expandible -->
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>