<h2 mat-dialog-title>Detalles del Héroe</h2>
<div mat-dialog-content>
  <p><strong>Nombre:</strong> {{ data.name }}</p>
  <p><strong>Alias:</strong> {{ data.alias }}</p>
  <p><strong>Descripción:</strong> {{ data.description }}</p>
  <p><strong>Género:</strong> {{ data.gender }}</p>
  <p><strong>Poderes:</strong> {{ data.powersIds.join(', ') }}</p>
  <p><strong>Equipos:</strong> {{ data.teamIds.join(', ') }}</p>
  <p><strong>Habilidades Únicas:</strong></p>
  <ul>
    <li *ngFor="let ability of data.uniqueAbilities">
      <strong>{{ ability.abilityName }}:</strong> {{ ability.description }}
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
