@import './styles/custom-theme.scss';

/* Opcional: Puedes añadir estilos globales adicionales aquí */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
}