<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form-container">
  
  <!-- Row for Name and Alias fields -->
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required appUppercase>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Alias</mat-label>
      <input matInput formControlName="alias" required appUppercase>
    </mat-form-field>
  </div>

  <!-- Row for Description field -->
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <!-- Row for Gender -->
  <div class="form-row">
    <div class="form-field radio-group">
      <label>Genero</label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button *ngFor="let gender of genderOptions" [value]="gender">
          {{ gender }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <!-- Row for selecting Powers and Teams -->
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Poder</mat-label>
      <mat-select formControlName="powersIds" multiple>
        <mat-option *ngFor="let power of powerTypeOptions" [value]="power.id">
          {{ power.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Equipo</mat-label>
      <mat-select formControlName="teamIds" multiple>
        <mat-option *ngFor="let team of teamTypeOptions" [value]="team.id">
          {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="heroForm.invalid">
      {{ hero ? 'Actualizar Heroe' : 'Agregar Heroe' }}
    </button>
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
