<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form-container">
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Alias</mat-label>
      <input matInput formControlName="alias">
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
  </div>

  <div class="form-row">
    <div class="form-field radio-group">
      <label>Genero</label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button *ngFor="let gender of genderOptions" [value]="gender">{{ gender }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Poder</mat-label>
      <mat-select formControlName="powerNames" multiple>
        <mat-option *ngFor="let power of powerTypeOptions" [value]="power">{{ power.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Equipo</mat-label>
      <mat-select formControlName="teamNames" multiple>
        <mat-option *ngFor="let team of teamTypeOptions" [value]="team">{{ team }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="heroForm.invalid">
      {{ hero ? 'Actualizar Heroe' : 'Agregar Heroe' }}
    </button>
    <button mat-button (click)="onCancel()">Cancelar</button>
  </div>
</form>
